header {
    .nav-dropdown-container {
      button {
        color: white;
        border: transparent;
        border-radius: 0.3em;
        height: 3em;
        width: 8em;
        margin-top: 1em;
        .fa-chevron-down {
          margin-left: 1em;
        }
      }
    }
    .nav-dropdown-ingredients {
      button {
        background-color: $ingredient-color;
      }
    }
    .nav-dropdown-appliances {
      button {
        background-color: $appliance-color;
      }
    }
    .nav-dropdown-utensils {
      button {
        background-color: $utensil-color;
      }
    }
  }